       <!-- 報告画面 -->
        <% @works.each do |work| %>
            <div class="modal fade" id="target<%= work.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">報告完了：<b><%= work.name  %></b></h5>
                        </div>
                            <%= form_with model: Report, url: work_reports_path(work.id), local: true do |f| %>
                            <div class="modal-body">
                                <div class="form-group mx-3">
                                    <label for="message-text" class="col-form-label">報告メッセージ</label>
                                    <%= f.text_area :message, class: :form_text, maxlength:"40",cols:"50",rows:"5" %>
                                </div>
                                <div class="form-group mx-3">
                                    <p><label for="message-text" class="col-form-label">証拠写真</label></p>
                                    <%= f.file_field :image %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                <input type="submit" name="commit" value="報告する" data-disable-with="報告する" class="btn btn-secondary">
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
