<h1>家事編集</h1>
<%= form_with model: @work, url: work_path, local: true do |form| %><div class="form">
  <h2>家事名</h2>
   <%= form.text_field :name , class:"work-name"%>
   <h2>負担レベル</h2>
   <%= form.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"work-weight"}) %>
   <h2>メモ</h2>
   <%= form.text_area :rule, class:"work-rule" %>
   <h2>担当者</h2>
   <%= form.text_field :parson, class:"work-name" %>
   

<div class="sell-btn-contents">
   <%= form.submit '保存' , class:"sell-btn" %>
   <%= link_to '削除', work_path(@work.id) , method: :delete , class:"back-btn" %>
</div>
</div>
<% end %>