<div class="contents">
   <div class="container">
      <h1 class="title-frame">家事編集</h1>    
        <%= form_with model: @work, url: works_path, local: true do |form| %>
          <div class="form-wrap">
              <div class="form-group">
                <div class="form_text_wrap">
                    <label class="form-text">家事名</label>
                       <%= form.text_field :name , class:"work-name"%>
                </div>
              </div>

            <div class="form-group">
               <div class="form_text_wrap">
                  <label class="form-text">負担レベル</label>
                       <%= form.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"work-weight"}) %>
               </div>
             </div>

            <div class="form-group">
               <div class="form_text_wrap">
                  <label class="form-text">家事ルール</label>
                       <%= form.text_area :rule, class:"work-rule" %>
               </div>
             </div>

            <div class="form-group">
               <div class="form_text_wrap">
                  <label class="form-text">担当者名</label>
                       <%= form.text_field :parson, class:"work-name" %>
               </div>
            </div>
            
            <div class="form-submit">
               <div class="actions"><div class="sell-btn-contents">
                  <%= form.submit '保存' , class:"submit-btn" %>
                  <%= link_to '削除', work_path(@work.id) , method: :delete , class:"submit-btn" %>
               </div>
            </div>
        <% end %>
    </div>
</div>
