
<div class="contents">
    <div class="sidebar">
        <div class="drawer drawer--left">
        	<button type="button" class="drawer-toggle drawer-hamburger">
			    <span class="drawer-hamburger-icon"></span>
		    </button>
		    <nav class="drawer-nav" role="navigation">
			    <ul class="drawer-menu">
				    <li><h4>家事一覧</h4></li>
                    <% @works.each do |work| %>  
				    <li><a class="drawer-menu-item" href="#"><%= work.name %></a></li>
                    <% end %>
			    </ul>
		    </nav>
        </div>
    </div>
            
       
    </div>
    <div class="container">
        <div>メインページ</div>
            <p>メインユーザー</p>
                <p>サブユーザー</p>
                    <p>日付</p>
                        <% @works.each do |work| %>              
                            <% @reports = current_user.reports.order(updated_at: :desc).limit(1).find_by(work_id: work.id) %>
                            <div class="card mb-3 mx-3">
                                <div class="card-header">
                                <%= work.name %>
                                </div>
                                <div class="card-body">
                                    <p>担当：田中パパ</p>
                                    <button type="button" class="btn btn-secondary mb-12" data-toggle="modal" data-target="#target<%= work.id %>">完了</button>
                                    <button class="btn btn-secondary mb-12">消耗品エラー</button>
                                </div>

                                <%# 消耗品エラー表示ようのコード　ページが整ったら反映させます %>

                                        <%# <% @works.each do |work| %>
                                         <%# <%= link_to work_path(work.id) do %>
                                            <%# <%= work.name %>
                                           <%# <% @items.each do |item| %>
                                            <%# <div class='item-info'> %>
                                            <%# <% if item.need.id==3%>
                                             <%# <button class="btn btn-secondary mb-12">消耗品エラー</button> %>
                                            <%# <% end %>
                                            <%# </div> %>
                                           <%# <% end %>
                                         <%# <% end %>
                                        <%# <% end %>

                                <div class="card-footer">
                                    報告画面
                                </div>

                                <% if @reports  %>
                                <div class="card-body">
                                    <h5 class="card-title"><%= @reports.message %><h5>
                                    <p class="reportimage"><%= image_tag @reports.image %></p>
                                </div>
                                <div class="card-footer">
                                    <div class="badge badge-secondary">いいね or だめだね</div>
                                    <% if current_user.already_nices?(@reports)%>
                                        <%= link_to image_tag("good.png", class: :goodbad), report_nice_path(@reports,@reports.nices),method: :delete %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad) %>
                                        <%= @reports.bads.count %>
                                    <% elsif current_user.already_bads?(@reports) %>
                                        <%= link_to image_tag("good.png", class: :goodbad) %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad), report_bad_path(@reports,@reports.bads),method: :delete %>
                                        <%= @reports.bads.count %>
                                    <% else %>
                                        <%= link_to image_tag("good.png", class: :goodbad), report_nices_path(@reports),method: :post %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad), report_bads_path(@reports),method: :post %>
                                        <%= @reports.bads.count %>
                                    <% end %>
                                </div>
                                <% end %>
                            </div>
                        <% end %>
        <button>家事分担</button>
        <button>消耗品一覧</button>
        <button>家事追加</button>
        <button>ユーザー追加</button>
    </div>

  

    <!-- 報告画面 -->
    <% @works.each do |work| %>
        <div class="modal fade" id="target<%= work.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">報告完了：<%= work.name  %></h5>
                    </div>
                        <%= form_with model: Report, url: work_reports_path(work.id), local: true do |f| %>
                        <div class="modal-body">
                            <div class="form-group mx-3">
                                <label for="message-text" class="col-form-label">報告メッセージ</label>
                                <%= f.text_area :message, class: :form_text, maxlength:"40",cols:"50",rows:"5" %>
                            </div>
                            <div class="form-group mx-3">
                                <p><label for="message-text" class="col-form-label">証拠写真</label></p>
                                <%= f.file_field :image %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                            <input type="submit" name="commit" value="報告する" data-disable-with="報告する" class="btn btn-secondary">
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
