<div class="main-contents">
   <%= render "works/side_bar" %>
      <div class="main-container">
        <div>メインページ</div>
            <p>メインユーザー</p>
                    <p>日付</p>
                        <% if @reports && @reports.errors.any? %>
                            <ul>
                            <% @reports.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                            </ul>
                        <% end %>
                        <% @works.each do |work| %>              
                            <% @reports = current_user.reports.order(updated_at: :desc).limit(1).find_by(work_id: work.id) %>
                            <div class="card mb-3 mx-3">
                                <div class="card-header">
                                <%= work.name %>
                                </div>
                                <div class="card-body">
                                    <p>担当：田中パパ</p>
                                    <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#target<%= work.id %>">完了</button>
                                  <%# 消耗品エラー表示ようのコード　ページが整ったら反映させます %>
                                            <%= link_to work_path(work.id) do %>
                                                <% @items.each do |item| %>
                                                    <% if item.need.id == 2 && work.id == item.work_id %>
                                                        <button class="btn btn-danger mb-12">消耗品エラー</button>
                                                    <% break %>
                                                    <% end %>
                                                <% end %>
                                            <% end %>
                                </div>

                          

                                <div class="card-footer">
                                    報告画面
                                </div>

                                <% if @reports  %>
                                <div class="card-body">
                                    <h5 class="card-title"><%= @reports.message %><h5>
                                    <p class="reportimage"><%= image_tag @reports.image %></p>
                                </div>
                                <div class="card-footer">
                                    <div class="badge badge-secondary">いいね or だめだね</div>
                                    <% if current_user.already_nices?(@reports)%>
                                        <%= link_to image_tag("good.png", class: :goodbad), report_nice_path(@reports,@reports.nices),method: :delete %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad) %>
                                        <%= @reports.bads.count %>
                                    <% elsif current_user.already_bads?(@reports) %>
                                        <%= link_to image_tag("good.png", class: :goodbad) %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad), report_bad_path(@reports,@reports.bads),method: :delete %>
                                        <%= @reports.bads.count %>
                                    <% else %>
                                        <%= link_to image_tag("good.png", class: :goodbad), report_nices_path(@reports),method: :post %>
                                        <%= @reports.nices.count %>
                                        <%= link_to image_tag("bad.png", class: :goodbad), report_bads_path(@reports),method: :post %>
                                        <%= @reports.bads.count %>
                                    <% end %>
                                </div>
                                <% end %>
                            </div>
                        <% end %>        
        <%= link_to "消耗品一覧", new_work_item_path(:work_id), method: :get, class: "post" %>
        <%= link_to "家事追加", new_work_path, method: :get, class: "post" %>
        <%= link_to "ユーザー追加", root_path, class: "post" %>
        <%= render "works/report" %>
    </div>
</div>
