<div class="contents">
   <div class="container">
      <h1 class="title-frame">家事追加</h1>
         <%= form_with model: @work, url: works_path, local: true do |f| %>
         <div class="form-wrap">
            <div class="form-group">
               <div class="form_text_wrap">
                  <label class="form-text">家事名</label>
                     <%= f.text_field :name, class:"work-name"%>
               </div>
            </div>

            <div class="form-group">
               <div class="form_text_wrap">
                  <label class="form-text">負担レベル</label>
                    <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"work-weight"}) %>
               </div>
            </div>

            <div class="form-group">
                <div class="form_text_wrap">
                  <label class="form-text">家事ルール</label>
                    <%= f.text_area :rule, class:"work-rule" %>
               </div>
            </div>

              <div class="form-submit">
                 <div class="actions">
                   <%= f.submit '保存', class:"submit-btn" %>
                   <%= link_to '戻る', works_path, class:"submit-btn" %>
                 </div>
              </div>
           </div>
        <% end %>
    </div>
</div>
