<h1>家事詳細</h1>
<%= form_with model: @work, url: works_path, local: true do |form| %>
<div class="form">
  <h2>家事名</h2>
   <%= form.text_field :name , class:"work-name"%>
   <h2>負担レベル</h2>
   <%= form.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"work-weight"}) %>
   <h2>メモ</h2>
   <%= form.text_area :rule, class:"work-rule" %>

<%= link_to '消耗品の追加',  new_work_item_path(@work.id), method: :get, class: "item-add-btn" %>

<div class="item-list">消耗品一覧</div>
<% @items.each do |item| %>
      <div class='item-info'>
          <div class='item-name-s'>
            品名:<%= item.name %>
          </div>
          <div class='item-quantity-s'>
            <span>数量:<%= item.quantity %></span>
          </div>
          <% if item.need.id==2%>補充が必要です<% end %>
          <% if item.need.id==3%>　　　　　　　<% end %>
         <%= link_to '削除',  work_item_path(@work,item), method: :delete, class:'item-destroy' %>
      </div>
      <% end %>
      
   
<div class="sell-btn-contents">
   <%= link_to '編集' ,edit_work_path, class:"back-btn" %>
   <%= link_to '戻る' ,works_path, class:"back-btn" %>
</div>
</div>
<% end %>